<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
    <style>
      .btn {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
      }
      a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      .default {background-color: #e7e7e7; color: black;} /* Gray */ 
      .default:hover {background: #ddd;}
      </style>
</head>
<body style="font-family: verdana; background-color: #272727; color: #fff; margin-right: 0px; margin-left: 0px">
  <center style="font-size:2vw;">
    	<h1>Рандомайзер розданих ігор у EGS</h1>
	    <hr>
    	<p style="font-size: 3vw; margin-top: 45px;margin-bottom: 45px;"><a href="https://howlongtobeat.com/?q={{ selected_game }}" target="_blank" rel="noopener noreferrer">{{ selected_game }}</a></p>
	    <hr>
      <a href="/"><button class="btn default" style="padding-top:1px; padding-bottom:1px; margin-top:28px"><h1>Повернутися до списку ігор</h1></button></a>
      <!-- <p><a href="https://howlongtobeat.com/?q={{ selected_game }}" target="_blank" rel="noopener noreferrer">HowLongToBeat</a></p> -->
    </center>
</body>
</html>